body {
    font-family: Bodoni;
    background-image: url("/static/wallpaper.png");
    // background-size: cover; 
}

#welcome-div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

#game-info-div {
    width: 80%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

#play-game-div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: white; 
    border-radius: 10px;
}

.player-hint-box {
    width: 45%;
    display: inline-block;
    font-family: Menlo;
    font-size: 16px;
    height: 100px;
}

#player-help {
    width: 100%;
    display: block;
    margin: 10px;
}

#player-input {
    float: left;
}

#player-output {
    float: right;
}

.chat-message {
    margin: 4px;
    padding: 4px;
    background-color: #d2e8fc;
    border-radius: 3px;
    display: block;
}

.highlighted-chat-message {
    background-color: lightblue;
}

.win-chat-message {
    background-color: #ddffdd;    
}

#player-chat {
    width: 60%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-family: Menlo;
    font-size: 16px;
    white-space: pre-wrap;
    border-radius: 2px;
    border: 2px solid gray;
    display: inline-block;
    text-align: left;
    padding: 4px;
    overflow: scroll;
}

#players-box {
    display: inline-block;
    vertical-align: top;
}

.player-thumbnail {
    vertical-align: top;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: left;
    margin: 10px;
    overflow: auto;
}

.player-thumbnail b {
    vertical-align: top;
    font-family: Menlo;
}

.player-nametag {
    white-space: pre;
}

.player-icon {
    width: 50px;
    height: 50px;
    float: left;
    padding-right: 5px;
    object-fit: contain;
}

#chat-section-container {
    display: block;
    width: 90%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

#chat-input {
    font-family: Menlo;
    display: block;
    width: 95%;
}

.game-options-dropdown ul {
    margin-top: 2px;
    margin-bottom: 2px;
    list-style-type: none;
}

#lets-play-btn {
    all: unset;
    padding: 5px;
    border-radius: 4px;
    background-color: #FFB6C1;
    font-family: Menlo;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 9px #DD94A0;
}

#lets-play-btn:hover {
    background-color: #EEA5B0;
}

#lets-play-btn:active {
    background-color: #EEA5B0;
    box-shadow: 0 5px #DD94A0;
    transform: translateY(4px);
}
