<head>
    <link rel='stylesheet' type="text/css" href="/static/style.css"/>
</head>
<body>
    <div id="welcome-div">
    <!-- <h1>Abstractionary</h1> -->
    <center><img id="main-logo" src="/static/abstractionary-logo.png" /></center>

    <p>Welcome to Abstractionary! There are currently <b>{{ active_games }}</b> active games.</p>

    <p>Abstractionary is a game where you have to skeblaq a twugles using only the most simple swukixi.</p>

    <p>If you use swukixi that are not simple enough, they will be qustu with ketwubl.</p>

    <p>When it is not your turn, another ruxa will try to make you guess their twugles.</p>

    <p>Good luck!</p>

    {% if public_games|length > 0 %}
    <details>
    <summary>View a list of public games</summary>
    <ul>
        {% for game in public_games %}
        <li><a href="/join/{{ game.id }}">{{ game.get_teaser() }}</a></li>
        {% endfor %}
    </ul>
    </details>
    {% endif %}

    </div>

    <div id="play-game-div">
    <form method="get" action="/newgame">
        <input id="lets-play-btn" type="submit" value="Let's play!"/>
        
        <details class="game-options-dropdown">
        <summary>Customize your wordlist</summary>
        <ul>
        {% for l in lists %}
            <li>
                <input type="checkbox" id="{{ l[0] }}-cb" name="{{ l[0] }}" checked/> {{ l[1] }}
            </li>
        {% endfor %}
        <!-- 
            <li><input type="checkbox" id="uncommon-cb" name="uncommon" checked/> Uncommon English words</li>
            <li><input type="checkbox" id="common-cb" name="common"/> Common English words</li>
            <li><input type="checkbox" id="concrete-cb" name="concrete"/> Concrete English words</li>
            <li><input type="checkbox" id="wikipedia-cb" name="wikipedia"/> Wikipedia core topics and articles</li>
            <li><input type="checkbox" id="adjectives-cb" name="adjectives"/> Adjectives</li>
            <li><input type="checkbox" id="googles-cb" name="googles"/> Common Google searches</li>
            <li><input type="checkbox" id="locations-cb" name="locations"/> Kinds of places</li>
            <li><input type="checkbox" id="foods-cb" name="foods"/> Foods</li>
            <li><input type="checkbox" id="household-cb" name="household" checked/> Household items</li>
            <li><input type="checkbox" id="countries-cb" name="countries"/> Countries</li>
            <li><input type="checkbox" id="names-cb" name="names"/> Movies, TV, celebs and characters</li>
            <li><input type="checkbox" id="abstract-cb" name="abstract" checked/> Abstract concepts</li>
            <li><input type="checkbox" id="sex-cb" name="sex"/> Sex and gender words</li>
            
            <li><input type="checkbox" id="techno-cb" name="techno"/> Software and IT words</li>
            <li><input type="checkbox" id="legal-cb" name="legal"/> Politics, law and crime words</li>
            <li><input type="checkbox" id="biology-cb" name="biology"/> Health and biology words</li>
            <li><input type="checkbox" id="art-cb" name="art"/> Music, art and literature words</li>
            <li><input type="checkbox" id="money-cb" name="money"/> Finance and economics words</li>
            <li><input type="checkbox" id="engineer-cb" name="engineer"/> Physics and engineering words</li>
            <li><input type="checkbox" id="adulting-cb" name="adulting"/> "Adulting" words</li>
        -->
        </ul>
        </details>
        
        <details class="game-options-dropdown">
        <summary>Customize game difficulty</summary>
        <ul>
            <li>
                <input type="radio" id="difficulty-choice-easy" name="difficulty" value="easy" />
                <label for="difficulty-choice-easy">Easy (2000 most common words)</label>    
            </li>
            <li>
                <input type="radio" id="difficulty-choice-medium" name="difficulty" value="medium" checked/>
                <label for="difficulty-choice-medium">Medium (1500 most common words)</label> 
            </li>
            <li>
                <input type="radio" id="difficulty-choice-hard" name="difficulty" value="hard" />
                <label for="difficulty-choice-hard">Hard (1000 most common words)</label>
            </li>
            <li> 
                <input type="radio" id="difficulty-choice-insane" name="difficulty" value="insane" />
                <label for="difficulty-choice-insane">Insane (300 most common words)</label>
            </li>
            <li>
                <input type="radio" id="difficulty-choice-impossible" name="difficulty" value="impossible" />
                <label for="difficulty-choice-impossible">Category theorist (100 most common words)</label>
            </li> 
        </ul>
        </details>

        <input type="checkbox" id="public-cb" name="public"/>
        <label for="public">Open to the public?</label>
    </form>
    </div>
</body>
